/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: white;
  
}

/* Header */
.site-header {
 padding: 29.46099090576172px 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: white;
  z-index: 1000;
    width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 160px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}
/* main section */
.main_part {
  background-image: url('./images/object.png') , repeating-linear-gradient(to bottom,#071629, #071629 1px, #0a1b3c 1px, #0a1b3c 2px
  );
  background-size: cover;
  background-position: cover;
  padding: 193px 40px;
  justify-content: center;
  align-items: center;
  height: 1093px;
  width: 1440px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;

  
  
}
.main_part h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
     color:#a94fe0;
     margin-top: 163px;
}
.main_part h2 span{
    color: white;
    font-weight: 10;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
}
.pros {
  margin-top: 85px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 120px;
  padding-right: 15px;
}
.pros > div {
  text-align: center;
  max-width: 180px;
  font-weight: 10 ;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;

}

.hero-content {
  z-index: 2;
  padding: 60px 20px;
}

.main_part h1 {
  font-size: 72px;
  font-weight: 70;
  margin-bottom: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.hero-tags {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 36px;
}

.hero-tags span {
  width: 49px;
  height: 20px;
  font-weight: 200;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.btn-primary{
  background-color: #a94fe0;
 width: 162px;
 height: 44px;
 /* align-content: center;
 text-align: center; */
 border: none;
 border-radius: 22px;
 color: white;
 align-items: center;
 margin-top: 41px;
}
.btn-primary p{
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;

}

.btn-primary:hover {
  background-color: #a94fe0;
}

/* Section: Learn from the pros */
.hero-content > div > h2 {
  margin-top: 80px;
  font-size: 24px;
  font-weight: 400;
}

.hero-content > div > h2 span {
  color: #c271ff;
  font-weight: bold;
}

.hero-content > div > div {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.hero-content > div > div > div {
  text-align: center;
  max-width: 180px;
}

.hero-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.hero-content h3 {
  font-size: 16px;
  font-weight: 700;
}

.hero-content p {
  font-size: 14px;
  font-style: italic;
  opacity: 0.8;
  margin-top: 6px;
}

/* Testimonials */
.testimonials {
  display: flex;
  gap: 60px;
  align-items: left;
  padding: 93px 140px;
  background-color: #c271ff;
  position: relative;
  align-items: center;
  height: 100%;
   
}

.testimonials blockquote {
  font-size: 14px;
  


}

.testimonials h3 {
  font-size: 18px;
  font-weight: 100;
  margin: 10px 0 5px;
}

.testimonials p {
  font-size: 14px;
  color: #ccc;
  font-style: italic;

}
.testimonial-text{
    text-align: left;
    position: relative;
    width: 100%;
    margin-top: 30x;
    ;
}
/* Tutorials */
.tutorials {
  color: black;
}