/* Body flex container */
body {
  display: flex;
  flex-direction: column;
}

/* Main flex container */
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

/* Article 2/3 of width */
article {
  flex: 2;
  overflow-y: auto;
}

/* Aside 1/3 of width */
aside {
  flex: 1;
  overflow-y: auto;
}
