/* Body container */
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  color: #333;
}

/* Header */
header {
  background-color: #004080;
  color: white;
  padding: 20px;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
}

header li {
  margin-right: 20px;
  align-self: center;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


/* Logo */
.logo {
  font-size: 24px;
  margin-right: 20px;
}

/* Main container */
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

/* Article container 2/3 of width */
article {
  flex: 2;
  overflow-y: auto;
  padding: 20px;
  background-color: #ffffff;
  border-right: 2px solid #ccc;
}

/* Aside 1/3 of width */
aside {
  flex: 1;
  overflow-y: auto;
    background-color: #f9f9f9;
  padding: 20px;
  border-left: 2px solid #ccc;
}

/* Footer */
footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 15px;
}

footer p {
  margin: 0;
}

footer a {
  color: rgb(125, 152, 189);
  text-decoration: underline;
}